<form ng-submit="addStamp()">
    <div class="well">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <button type="button" class="btn btn-xs pull-left" ng-click="selectFingerprint(fp)" ng-repeat="fp in fingerprints" ng-class="{'btn-default': fp == newStamp.fingerprint}" style="margin:0 10px 10px 0;">
                    <div fingerprint-thumb source="fp.thumbnail" thumn-width="35" thumb-height="35"></div>
                </button>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div color-picker model="newStamp.color"></div>
                <input type="submit" class="btn btn-primary">
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body canvas-container" style="position:relative;" mover ng-click="moveFingerprint($event)">
            <div fingerprint color="newStamp.color" ng-repeat="fp in fingerprints" top="newStamp.top" left="newStamp.left" source="fp.thumbnail" ng-if="newStamp.fingerprint == fp"></div>
        </div>
    </div>
</form>
