<form ng-submit="addStamp()" role="form" novalidate>
    <div class="panel panel-default">
        <div class="panel-body canvas-container" style="position:relative;" mover ng-click="moveFingerprint($event)">
            <div fingerprint color="newStamp.color" ng-repeat="fp in fingerprints" top="newStamp.top" left="newStamp.left" source="fp.thumbnail" ng-if="newStamp.fingerprint == fp"></div>
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <button type="button" class="btn btn-xs pull-left" ng-click="selectFingerprint(fp)" ng-repeat="fp in fingerprints" ng-class="{'btn-default': fp == newStamp.fingerprint}" style="margin:0 10px 10px 0;">
                    <div fingerprint-thumb source="fp.thumbnail" thumn-width="35" thumb-height="35"></div>
                </button>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="btn btn-default" color-picker model="newStamp.color"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
